.navbar{
    height: 50px;
}
.navbar ul{
    position: absolute;
    display: flex;
    color: black;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.navbar ul li.active a{
    background: black;
    color: #fff;
}

.admintitle{
    background: #8a3e00;
    text-align: center;
    color: aliceblue;
    height: 100px;
}

.logout{
    color: aliceblue;
    float: right;
    margin-top: 10px;
}
.button{
    margin-top: 50px;
    text-align: center;
}

